@use "../functions/px-to-rem" as *;
@use "../variables/breakpoints" as *;
@use "../mixins/flex" as *;
@use "../variables/colors" as *;
@use "../variables/variables" as *;

body {
  @include flex(initial, initial, column);
  background-color: $light-primary;
  font-family: $main-font-poppins;
  font-size: px-to-rem(16);
  color: $dark;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1.6;

  @media screen and (min-width: $breakpoint-sm) {
    height: 100vh;
    overflow: hidden;
  }
}
