$light: #FFFFFF;
$light-primary: #FAFBFF;
$light-grey: #f2f2f2;
$light-100: #F9FBFF;
$light-200: #B5B7C0;
$light-300: #F5F5F5;
$light-400: #EEEEEE;
$light-500: #eef0f3;
$grey: #838383;
$grey-dark: #757575;
$grey-darker: #404B52;
$grey-primary: #9197B3;
$grey-100: #7E7E7E;
$dark: #000000;
$primary: #5932EA;
$green: #16C098;
$green-dark: #16C09861;
$green-100: #00B087;
$green-200: #008767;
$red-light: #FFC5C5;
$red: #DF0404;
